<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/assets/ico/apple-touch-icon-152-precomposed.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/ico/apple-touch-icon-144-precomposed.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "/assets/ico/apple-touch-icon-120-precomposed.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/assets/ico/apple-touch-icon-114-precomposed.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/assets/ico/apple-touch-icon-72-precomposed.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" href="{{ "/assets/ico/apple-touch-icon-57-precomposed.png" | prepend: site.baseurl }}">
    <link rel="icon" sizes="32x32" href="{{ "/assets/ico/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ "/assets/ico/favicon.ico" | prepend: site.baseurl }}">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://oss.maxcdn.com/modernizr/2.8.3/modernizr.min.js"></script>
</head>