<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>We help you create amazing digital products.</h3>
                <h1>WordPress &amp; Drupal Experts.</h1>
                <h5>Using open source technologies, we build your ideas.</h5>
                <h5><a href="/contact/" title="hire our experts">Hire us</a> to be your development partner.</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/logo.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->